$background-color_2: #f7f7f7;

.overview-box {
  background-color: $background-color_2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.overview-box__group {
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
  }
}
.overview-box__detail {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  padding: 5px 0;
  svg {
    margin-right: 1.25rem;
  }
  &:not(:last-child) {
    margin-bottom: 2.25rem;
  }
}
.overview-box__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #526c5c;
}
.overview-box__label {
  font-weight: 700;
  margin-right: 2.25rem;
  text-transform: uppercase;
  font-size: 14px;
}
.overview-box__text {
  text-transform: capitalize;
}
.overview-box__img {
  border-radius: 50%;
  height: 3.5rem;
  margin-right: 1.25rem;
}

.review--button {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
